<!-- Image Section -->
<div class="card mb-5 listing-card" style="max-width: 700px; margin: 0 auto;">
  <% if(listing.images && listing.images.length > 0) { %>
    <img src="<%= listing.images[0].url %>" class="card-img-top listing-hero-img" alt="listing_image">
  <% } else { %>
    <img src="<%= listing.image.url %>" class="listing-hero-img" alt="listing_image">
  <% } %>
</div>

