<!-- 
    REDESIGNED FLASH MESSAGES
    - This partial displays success and error messages as "toast" notifications.
    - It should be included in your main boilerplate.ejs layout file.
-->

<% if(success && success.length) { %>
<div class="flash-message success" role="alert">
    <div class="flash-icon">
        <i class="fa-solid fa-check-circle"></i>
    </div>
    <div class="flash-text">
        <%= success %>
    </div>
    <!-- This simple JS will hide the element on click -->
    <button type="button" class="flash-close" onclick="this.parentElement.style.display='none'">&times;</button>
</div>
<% } %>

<% if(error && error.length) { %>
<div class="flash-message error" role="alert">
     <div class="flash-icon">
        <i class="fa-solid fa-exclamation-circle"></i>
    </div>
    <div class="flash-text">
        <%= error %>
    </div>
    <button type="button" class="flash-close" onclick="this.parentElement.style.display='none'">&times;</button>
</div>
<% } %>
<style>


</style>