<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h4>Support</h4>
      <a href="#">Help Center</a>
      <a href="#">AirCover</a>
      <a href="#">Safety information</a>
      <a href="#">Cancellation options</a>
    </div>
    <div class="footer-section">
      <h4>Community</h4>
      <a href="#">Wanderlust: disaster relief housing</a>
      <a href="#">Combating discrimination</a>
    </div>
    <div class="footer-section">
      <h4>Hosting</h4>
      <a href="#">Wanderlust your home</a>
      <a href="#">AirCover for Hosts</a>
      <a href="#">Hosting resources</a>
    </div>
    <div class="footer-section">
      <h4>About</h4>
      <a href="#">Newsroom</a>
      <a href="#">Learn about new features</a>
      <a href="#">Careers</a>
      <a href="#">Investors</a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="left">
      <span>&copy; 2025 Wanderlust, Inc.</span>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Sitemap</a>
    </div>
    <div class="right">
      <a href="#">🌐 English (IN)</a>
      <a href="#">₹ INR</a>
      <div class="social-icons">
        <a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
